In [180]:
###import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols
import statsmodels.api as sm
from scipy import optimize
from sklearn.linear_model import LinearRegression
import seaborn as sns
from datetime import timedelta

In [181]:
#read file
Blitz = pd.read_csv('TempBlitzFormData.csv')
Blitz.dropna(subset=['Start time (hh:mm AM/PM)', 'End time (hh:mm AM/PM)'], inplace=True) #drop null time inputs

def time_sanitation(t):
    ###Standardizes user-input times###
    t = t.str.replace('AM|PM|am|pm|:|;', '', regex=True).str.strip().astype(int) #strips input to numbers
    
    standardization = []
    for x in t: 
        if x < 100: standardization.append(x*100) #change all values such as 12 to 1200
        if x >= 100 and x < 1299: standardization.append(x) #keep all values in standard 12hr time
        if x > 1299: standardization.append(x-1200) #change all military times to 12hr
    t = standardization
    
    length = []
    for x in t: 
        if len(str(x)) < 4: length.append(f'0{x}') #if 3 digit number, add 0 in front of value (eg 134 to 0134)
        else: length.append(x)
    t = length
    
    to_time = []    
    for x in t:
        x = pd.to_datetime(x, format='%H%M') #returns 1900-01-01 xx:xx:xx
        y = x.time() #remove placehoder dates, keeps time formatting
        to_time.append(y)    
    t = to_time
    ampm = []
    for x in t: #appends AM or PM based on input time
        if x.hour > 7 and x.hour < 12: ampm.append(f'{x} AM')
        if x.hour < 7 or x.hour >= 12: ampm.append(f'{x} PM')
    t = ampm
    
    return t

Blitz['Start time (hh:mm AM/PM)'] = time_sanitation(Blitz['Start time (hh:mm AM/PM)'])
Blitz['End time (hh:mm AM/PM)'] = time_sanitation(Blitz['End time (hh:mm AM/PM)'])

#single end time value was input as 12:37 instead of 2:37. 2:37 matches 2:32 start time and 15:35 Timestamp
Blitz.loc[86, 'End time (hh:mm AM/PM)'] = '2:37:00'

#single start time value was input as 5:57 instead of 15:57. 2:57 matches 3:02 end time and 16:02 Timestamp
Blitz.loc[108, 'Start time (hh:mm AM/PM)'] = '2:57:00'

###to remove "practice" values prior to August:

#remove timezone from Timestamp so that it can be read as a DateTime
Blitz['Timestamp'] = Blitz['Timestamp'].str.replace('MDT', '', regex=True)
#extract month from DateTime
Blitz['Month'] = pd.DatetimeIndex(Blitz['Timestamp']).month
#ignoring dates not part of August blitz - not sure if these are needed
AugBlitz = Blitz[Blitz['Month'] == 8].reset_index(drop=True)

In [182]:
###Standardizing and cleaning pole and logger #s
###values cross-referenced with HoboLocations_PoleLocations.csv (referred to as HL_PL.csv)

AugBlitz['Utility Pole #'] = AugBlitz['Utility Pole #'].str.upper() #standardized capitalization
AugBlitz['Utility Pole Temperature Logger # '] = AugBlitz['Utility Pole Temperature Logger # '].str.upper()
AugBlitz['Utility Pole #'] = AugBlitz['Utility Pole #'].str.replace('TO','TP') #Corrected pole # typo
AugBlitz['Utility Pole Temperature Logger # '] = AugBlitz['Utility Pole Temperature Logger # '].str.replace('B7','BT') #Corrected pole # typo
AugBlitz['Utility Pole Temperature Logger # '] = AugBlitz['Utility Pole Temperature Logger # '].str.replace('B1','BT') 

AugBlitz.loc[[38, 79], 'Utility Pole #'] = 'CP10'                 #no visible number; collaborated locations with and standardized to HL_PL.csv
AugBlitz.loc[[85, 9, 32], 'Utility Pole #'] = 'NO NUM'            #no pole num; collaborated locations with and standardized to HL_PL.csv
AugBlitz.loc[[33], 'Utility Pole #'] = 'TPU927'                   #pole number not listed. times and logger match. index 83 notes collaborate this
AugBlitz.loc[[6], 'Utility Pole #'] = 'TP24408'                   #minor typo: TP254408 input. TP24408 matches pole/ logger number in HL_PL.csv
AugBlitz.loc[[22], 'Utility Pole #'] = 'TP24199'                  #minor typo: TP2499 input. TP24199 matches pole/ logger number in HL_PL.csv
AugBlitz.loc[[86], 'Utility Pole #'] = 'TP3890'                   #minor typo: TP3800 input. TP3890 matches pole/ logger number in HL_PL.csv
AugBlitz.loc[[83], 'Utility Pole #'] = 'TPU927'                   #minor typo: TPU827 input. TPU927 matches pole/ logger number in HL_PL.csv
AugBlitz.loc[[54], 'Utility Pole #'] = 'TP6340'                   #minor typo: TP 6340 input. TP6340 matches pole/ logger number in HL_PL.csv
AugBlitz.loc[[93, 25], 'Utility Pole #'] = 'TP21897/A1353217'     #minor typo on #93: TP21879 input. TP21897 matches pole/ logger number in HL_PL.csv 
                                                                  #Standardized both to HL_PL.csv
AugBlitz.loc[[23, 72, 47], 'Utility Pole #'] = '52/1'             #standardized pole number to HL_PL.csv
AugBlitz.loc[[77, 81, 27], 'Utility Pole #'] = 'TP21631/A1353441' #standardized pole number to HL_PL.csv
AugBlitz.loc[[18], 'Utility Pole #'] = 'TP21374'                  #standardized pole number to HL_PL.csv
AugBlitz.loc[[97, 53], 'Utility Pole #'] = 'TP32711/A0572122'     #standardized pole number to HL_PL.csv
AugBlitz.loc[[11, 108], 'Utility Pole #'] = 'TP25239/A1353202'    #standardized Pole #s. Likely typo on HL_PL.csv: input value BT2130297 should be BT21302971
AugBlitz.loc[[26], 'Utility Pole #'] = 'TP21629'                  #standardized Pole #s. Likely typo in HL_PL.csv: input value BT2130251 should be BT21302951
AugBlitz.loc[[20, 68, 55], 'Utility Pole #'] = '112049 50/3'      #standardized pole #s. Likely typo in HL_PL.csv: input value 11049   50/3 should be 112049 50/3

AugBlitz.loc[[103], 'Utility Pole Temperature Logger # '] = '21223124'      #minor typo: 2122324 input. 21223124 matches pole/ logger number in HL_PL.csv
AugBlitz.loc[[3], 'Utility Pole Temperature Logger # '] = '21223121'        #minor typo: 211223121 input. 21223121 matches pole/ logger number in HL_PL.csv
AugBlitz.loc[[105], 'Utility Pole Temperature Logger # '] = '21223101'      #minor typo: 2122301 was input. 21223101 matches pole/ logger number in HL_PL.csv
AugBlitz.loc[[21], 'Utility Pole Temperature Logger # '] = '21223136'       #minor typo: 12236136 was input. 21223136 matches pole/ logger number in HL_PL.csv
AugBlitz.loc[[74], 'Utility Pole Temperature Logger # '] = '21223129'       #minor typo: 2122329 was input. 21223129 matches pole/ logger number in HL_PL.csv
AugBlitz.loc[[89], 'Utility Pole Temperature Logger # '] = '21223116'       #minor typo: 2122316 was input. 21223116 matches pole/ logger number in HL_PL.csv
AugBlitz.loc[[101], 'Utility Pole Temperature Logger # '] = 'BT21302953'    #minor typo: 21302953 was input. BT21302953 matches pole/ logger number in HL_PL.csv
AugBlitz.loc[[29, 0], 'Utility Pole Temperature Logger # '] = '21223116/BT21302967'      #standardized logger numbers to HL_PL.csv
AugBlitz.loc[[44, 12], 'Utility Pole Temperature Logger # '] = '2401795/BT21302957'      #standardized logger numbers to HL_PL.csv
AugBlitz.loc[[5, 35, 95], 'Utility Pole Temperature Logger # '] = '21162467/BT21302947'  #minor typo on #5: logger #21302954 was input. BT21302947 matches pole/ logger number in HL_PL.csv
                                                                                         #Standardized logger numbers to HL_PL.csv
AugBlitz.loc[[36, 66, 98], 'Utility Pole Temperature Logger # '] = '21223140/BT21202974' #36 has a matching pole # with 66 and 98, but different logger #
                                                                                         #probable typo between HL_PL.csv value BT21302974 and recorded BT21202973
                                                                                         #logger conditions do not match (soil vs grass) and times are pretty close, but likely the same value
                                                                                         #standardized all 3 values

#index 24 and 87 both have Logger # BT21302966, but different Pole #s. 87 Matches HL_PL.csv
#HL_PL.csv has the same Hobo_SN for pole TP6335 and TP6325. Not sure how to label index 107. 107 also has no matching logger #
#84 has Pole # and Logger # matching HL_PL.csv, but no other matches.
#105 has Pole # and Logger # matching HL_PL.csv, but no other matches.
#46 has Pole # and Logger # matching HL_PL.csv, but no other matches.
#78 has Pole # and Logger # matching HL_PL.csv, but no other matches.
#18 has Pole # and Logger # matching HL_PL.csv, but no other matches.
#74 has Pole # and Logger # matching HL_PL.csv, but no other matches.
#89 has Pole # and Logger # matching HL_PL.csv, but no other matches.
#34 pole # TP10504 has no matching pole in Blitz data or HL_PL.csv. Logger # 21223129 matches for pole # A1341128 in HL_PL.CV

In [183]:
AugBlitzGroups = AugBlitz.groupby(['Utility Pole #', 'Utility Pole Temperature Logger # '])
AugBlitzGroups.apply(display)

AugBlitz.to_csv(r'C:\Users\johnd\Desktop\Data Stuffs\GRIT City Temp Blitz\TempBlitzFormData.csv')

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
20,2022/08/11 10:28:33 AM,ailene_kane@me.com,21302965,Ailene,09:25:00 AM,Sidewalk (Paved Surface),Sun,112049 50/3,21223130,09:31:00 AM,NaN,8
55,2022/08/11 1:13:51 PM,stephanie.passantino@gmail.com,21302949,Steph Schmid,12:08:00 PM,Sidewalk (Paved Surface),Sun,112049 50/3,21223130,12:13:00 PM,NaN,8
68,2022/08/11 3:34:59 PM,courtney.baxter@tnc.org,21302973,Courtney Baxter,02:29:00 PM,Sidewalk (Paved Surface),Sun,112049 50/3,21223130,02:34:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
45,2022/08/11 1:04:59 PM,courtney.baxter@tnc.org,21302958,Courtney Baxter,11:59:00 AM,Sidewalk (Paved Surface),Shade,14998,21223110,12:04:00 PM,NaN,8
91,2022/08/11 4:02:54 PM,stephanie.passantino@gmail.com,21302945,Steph Schmid,2:57:00,Sidewalk (Paved Surface),Sun,14998,21223110,03:02:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
23,2022/08/11 10:34:29 AM,ailene_kane@me.com,21302965,Ailene,09:33:00 AM,Sidewalk (Paved Surface),Shade,52/1,21223103,09:38:00 AM,NaN,8
47,2022/08/11 1:06:17 PM,stephanie.passantino@gmail.com,21302949,Steph Schmid,12:01:00 PM,Sidewalk (Paved Surface),Shade,52/1,21223103,12:06:00 PM,NaN,8
72,2022/08/11 3:42:01 PM,courtney.baxter@tnc.org,21302973,Courtney Baxter,02:36:00 PM,Sidewalk (Paved Surface),Sun,52/1,21223103,02:41:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
89,2022/08/11 4:01:32 PM,eugenejulius@gmail.com,21302954,Penny,02:59:00 PM,Grass,Sun,A1340985,21223116,03:04:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
74,2022/08/11 3:47:08 PM,stephanie.passantino@gmail.com,21302945,Steph Schmid,02:42:00 PM,Sidewalk (Paved Surface),Sun,A1341128,21223129,02:47:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
59,2022/08/11 1:20:27 PM,eugenejulius@gmail.com,21302948,Penny,12:16:00 PM,Sidewalk (Paved Surface),Shade,A1346792,21223128,12:21:00 PM,NaN,8
99,2022/08/11 4:12:30 PM,courtney.baxter@tnc.org,21302973,Courtney Baxter,03:07:00 PM,Sidewalk (Paved Surface),Sun,A1346792,21223128,03:12:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
24,2022/08/11 10:34:29 AM,hannah.kett@tnc.org,21302949,Hannah Kett,09:28:00 AM,Grass,Sun,A1353781,BT21302966,09:34:00 AM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
38,2022/08/11 12:56:30 PM,mariana.gonzalez@tnc.org,21302949,Mariana,11:52:00 AM,Grass,Sun,CP10,21223104,11:57:00 AM,NaN,8
79,2022/08/11 3:50:52 PM,courtney.baxter@tnc.org,21302973,Courtney Baxter,02:45:00 PM,Grass,Sun,CP10,21223104,02:50:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
9,2022/08/11 10:10:45 AM,lowell@tacomatreefoundation.org,21302973,Lowell,09:05:00 AM,Sidewalk (Paved Surface),Sun,NO NUM,21223134,09:10:00 AM,NaN,8
32,2022/08/11 12:49:00 PM,danoperson@hotmail.com,21302978,Danny Person,11:43:00 AM,Sidewalk (Paved Surface),Sun,NO NUM,21223134,11:48:00 AM,NaN,8
85,2022/08/11 3:57:40 PM,tiffanymcguyer@gmail.com,21302949,Tiffany and Amy,02:57:00 PM,Sidewalk (Paved Surface),Sun,NO NUM,21223134,03:02:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
78,2022/08/11 3:50:50 PM,luiszepeda.chavez@gmail.com,21402965,Luis & Josh,02:49:00 PM,Bare soil,Sun,TP10073,21223137,02:54:00 PM,Meter and a half from pole due to blackberries,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
34,2022/08/11 12:49:58 PM,courtney.baxter@tnc.org,21302958,Courtney Baxter,11:45:00 AM,Sidewalk (Paved Surface),Sun,TP10504,21223129,11:50:00 AM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
21,2022/08/11 10:31:36 AM,lowell@tacomatreefoundation.org,21302973,Lowell,09:26:00 AM,Sidewalk (Paved Surface),Sun,TP13307,21223136,09:31:00 AM,NaN,8
60,2022/08/11 1:23:11 PM,stephanie.passantino@gmail.com,21302949,Steph Schmid,12:18:00 PM,Sidewalk (Paved Surface),Sun,TP13307,21223136,12:23:00 PM,NaN,8
67,2022/08/11 3:26:37 PM,courtney.baxter@tnc.org,21302973,Courtney Baxter,02:21:00 PM,Sidewalk (Paved Surface),Sun,TP13307,21223136,02:26:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
48,2022/08/11 1:06:44 PM,james.hong@tnc.org,21302973,James and Olivia,12:01:00 PM,Sidewalk (Paved Surface),Sun,TP13987,21223102,12:06:00 PM,NaN,8
49,2022/08/11 1:07:23 PM,james.hong@tnc.org,21302973,James and Olivia,12:01:00 PM,Sidewalk (Paved Surface),Sun,TP13987,21223102,12:06:00 PM,NaN,8
109,2022/08/11 4:29:43 PM,luiszepeda.chavez@gmail.com,2130965,Luis & Josh,03:24:00 PM,Sidewalk (Paved Surface),Sun,TP13987,21223102,03:29:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
56,2022/08/11 1:14:23 PM,james.hong@tnc.org,21302973,James and Olivia,12:08:00 PM,Sidewalk (Paved Surface),Sun,TP13988,21223131,12:13:00 PM,NaN,8
96,2022/08/11 4:09:48 PM,luiszepeda.chavez@gmail.com,21302965,Luis & Josh,03:08:00 PM,Sidewalk (Paved Surface),Sun,TP13988,21223131,03:12:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
10,2022/08/11 10:11:48 AM,michael.yadrick@gmail.com,MX2201 21302978,Michael Yadrick,09:06:00 AM,Grass,Sun,TP14329,21223132,09:11:00 AM,NaN,8
42,2022/08/11 1:02:32 PM,emily.heber@tnc.org,21302965,Emily Heber,11:57:00 AM,Sidewalk (Paved Surface),Sun,TP14329,21223132,12:02:00 PM,NaN,8
80,2022/08/11 3:53:18 PM,james.hong@tnc.org,21302958,James and hannah,02:47:00 PM,Sidewalk (Paved Surface),Shade,TP14329,21223132,02:53:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
46,2022/08/11 1:05:36 PM,ailene_kane@me.com,21302943,Ailene,12:03:00 PM,Grass,Shade,TP15041,21223109,12:08:00 PM,Mix of sun and shade,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
105,2022/08/11 4:21:26 PM,luiszepeda.chavez@gmail.com,21302965,Luis & Josh,03:16:00 PM,Sidewalk (Paved Surface),Sun,TP15706,21223101,03:21:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
57,2022/08/11 1:17:48 PM,courtney.baxter@tnc.org,21302958,Courtney Baxter,12:12:00 PM,Grass,Shade,TP20001,21223107,12:17:00 PM,NaN,8
102,2022/08/11 4:15:16 PM,stephanie.passantino@gmail.com,21302945,Steph Schmid,03:10:00 PM,Grass,Sun,TP20001,21223107,03:15:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
51,2022/08/11 1:09:48 PM,lowell@tacomatreefoundation.com,21302948,Lowell,12:06:00 PM,Grass,Sun,TP20080,21223135,12:11:00 PM,Surface is grass but right next to dirt,8
106,2022/08/11 4:22:08 PM,courtney.baxter@tnc.org,21302973,Courtney Baxter,03:16:00 PM,Dirt and dead grass,Shade,TP20080,21223135,03:22:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
4,2022/08/11 10:00:53 AM,lowell@tacomatreefoundation.org,21302973,Lowell Wyse,08:55:00 AM,Sidewalk (Paved Surface),Sun,TP20171,21223123,09:00:00 AM,Sprinklers running in planting strip,8
28,2022/08/11 12:38:44 PM,danoperson@hotmail.com,21302978,Danny Person,11:33:00 AM,Sidewalk (Paved Surface),Sun,TP20171,21223123,11:38:00 AM,NaN,8
75,2022/08/11 3:47:41 PM,tiffanymcguyer@gmail.com,21302949,Tiffany & Amy,02:46:00 PM,Grass,Sun,TP20171,21223123,02:51:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
13,2022/08/11 10:16:10 AM,emily.heber@tnc.org,21302958,Emily Heber,09:09:00 AM,Grass,Sun,TP21035,21223122,09:15:00 AM,NaN,8
64,2022/08/11 1:38:06 PM,james.hong@tnc.org,21302973,James and Olivia,12:32:00 PM,Grass,Sun,TP21035,21223122,12:37:00 PM,NaN,8
71,2022/08/11 3:41:40 PM,eugenejulius@gmail.com,21302954,Penny,02:38:00 PM,Grass,Sun,TP21035,21223122,02:43:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
65,2022/08/11 1:44:50 PM,james.hong@tnc.org,21302973,James and olivia,12:39:00 PM,Sidewalk (Paved Surface),Sun,TP21036,21223138,12:44:00 PM,NaN,8
76,2022/08/11 3:47:53 PM,eugenejulius@gmail.com,21302954,Penny,02:45:00 PM,Pebbles and some grass,Shade,TP21036,21223138,02:50:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
18,2022/08/11 10:25:31 AM,hannah.kett@tnc.org,21302949,Hannah Kett,09:18:00 AM,Grass,Shade,TP21374,BT21302955,09:25:00 AM,Currently shaded by blackberry shrub,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
26,2022/08/11 10:54:11 AM,hannah.kett@tnc.org,21302949,Hannah Kett,09:48:00 AM,Weeds!,Shade,TP21629,BT21302951,09:54:00 AM,Very weedy where the lagger is,8
110,2022/08/11 4:32:25 PM,johansaj@plu.edu,21302978,Autumn Johansen,03:26:00 PM,Grass,Shade,TP21629,BT21302951,03:32:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
27,2022/08/11 11:18:08 AM,hannah.kett@tnc.org,21302949,Hannah Kett,10:12:00 AM,Bare soil,Shade,TP21631/A1353441,BT21302961,10:18:00 AM,NaN,8
77,2022/08/11 3:49:35 PM,johansaj@plu.edu,21302978,Autumn Johansen,02:44:00 PM,Bare soil,Sun,TP21631/A1353441,BT21302961,02:49:00 PM,Partial shade from shrub.,8
81,2022/08/11 3:55:07 PM,johansaj@plu.edu,21302978,Autumn Johansen,02:44:00 PM,Bare soil,Sun,TP21631/A1353441,BT21302961,02:49:00 PM,Partial shade from shrub.,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
25,2022/08/11 10:42:17 AM,hannah.kett@tnc.org,21302949,Hannah Kett,09:36:00 AM,Grass,Shade,TP21897/A1353217,BT21302944,09:42:00 AM,NaN,8
93,2022/08/11 4:06:36 PM,johansaj@plu.edu,21302978,Autumn Johansen,03:01:00 PM,Grass,Shade,TP21897/A1353217,BT21302944,03:06:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
87,2022/08/11 4:00:28 PM,johansaj@plu.edu,21302978,Autumn Johansen,02:55:00 PM,Grass,Sun,TP21898,BT21302966,03:00:00 PM,Partial shade due to pole.,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
3,2022/08/11 9:58:20 AM,michael.yadrick@gmail.com,MX2201 21302978,Michael Yadrick,08:52:00 AM,Grass,Sun,TP23269,21223121,08:57:00 AM,NaN,8
30,2022/08/11 12:47:49 PM,emily.heber@tnc.org,21302965,Emily Heber,11:41:00 AM,Grass,Sun,TP23269,21223121,11:47:00 AM,NaN,8
70,2022/08/11 3:39:22 PM,james.hong@tnc.org,21302958,James and hannah,02:34:00 PM,Grass,Sun,TP23269,21223121,02:39:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
22,2022/08/11 10:32:14 AM,michael.yadrick@gmail.com,MX2201 21302978,Michael Yadrick,09:27:00 AM,Sidewalk (Paved Surface),Shade,TP24199,21223124,09:32:00 AM,NaN,8
61,2022/08/11 1:24:58 PM,emily.heber@tnc.org,21302965,Emily Heber,12:19:00 PM,Sidewalk (Paved Surface),Sun,TP24199,21223124,12:24:00 PM,NaN,8
103,2022/08/11 4:17:19 PM,james.hong@tnc.org,21302958,James and hannah,03:12:00 PM,Sidewalk (Paved Surface),Sun,TP24199,21223124,03:17:00 PM,Started in sun. But shade move in to Cover log...,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
6,2022/08/11 10:05:37 AM,michael.yadrick@gmail.com,MX2201 21302978,Michael Yadrick,09:00:00 AM,Grass,Shade,TP24408,21223112,09:05:00 AM,NaN,8
37,2022/08/11 12:55:40 PM,emily.heber@tnc.org,21302965,Emily Heber,11:50:00 AM,Grass,Shade,TP24408,21223112,11:55:00 AM,NaN,8
73,2022/08/11 3:46:54 PM,james.hong@tnc.org,21302958,James and hannah,02:40:00 PM,Grass,Sun,TP24408,21223112,02:46:00 PM,Logger in grass which is giving partial shade,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
14,2022/08/11 10:16:18 AM,ailene_kane@me.com,21302965,Ailene,09:15:00 AM,Grass,Sun,TP24409,21223120,09:20:00 AM,NaN,8
52,2022/08/11 1:11:19 PM,danoperson@hotmail.com,21302978,Danny Person,12:05:00 PM,Grass,Sun,TP24409,21223120,12:10:00 PM,NaN,8
104,2022/08/11 4:20:42 PM,tiffanymcguyer@gmail.com,21302949,Tiffany & Amy,03:20:00 PM,Grass,Sun,TP24409,21223120,03:25:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
11,2022/08/11 10:15:21 AM,hannah.kett@tnc.org,21302949,Hannah,09:09:00 AM,Grass,Sun,TP25239/A1353202,BT21302971,09:15:00 AM,The pole temp lagger is shaded and the ground ...,8
108,2022/08/11 4:24:51 PM,johansaj@plu.edu,21302978,Autumn Johansen,03:19:00 PM,Grass,Sun,TP25239/A1353202,BT21302971,03:23:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
12,2022/08/11 10:15:25 AM,rhebert@cityoftacoma.org,21302954,Ryan and Zoee,09:12:00 AM,Grass,Sun,TP27040,2401795/BT21302957,09:17:00 AM,"Surrounded by street trees, behind the logger ...",8
44,2022/08/11 1:04:42 PM,joshua.rubenstein@tnc.org,MX2201 21302954,Joshua Rubenstein,12:02:00 PM,Grass,Shade,TP27040,2401795/BT21302957,12:07:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
53,2022/08/11 1:11:59 PM,courtney.baxter@tnc.org,21302958,Courtney Baxter,12:06:00 PM,Rocks and dirt,Sun,TP32711/A0572122,21223125,12:11:00 PM,NaN,8
97,2022/08/11 4:09:54 PM,stephanie.passantino@gmail.com,21302945,Steph Schmid,03:05:00 PM,Grass,Sun,TP32711/A0572122,21223125,03:09:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
36,2022/08/11 12:55:19 PM,ailene_kane@me.com,21302943,Ailene,11:54:00 AM,Grass,Sun,TP32717,21223140/BT21202974,12:00:00 PM,NaN,8
66,2022/08/11 1:55:52 PM,james.hong@tnc.org,21302973,James and olivia,12:54:00 PM,Bare soil,Shade,TP32717,21223140/BT21202974,01:00:00 PM,NaN,8
98,2022/08/11 4:10:28 PM,eugenejulius@gmail.com,21302954,PENNY,03:07:00 PM,Mulched soil,Shade,TP32717,21223140/BT21202974,03:12:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
8,2022/08/11 10:10:12 AM,ailene_kane@me.com,21302965,Ailene,09:07:00 AM,Grass,Sun,TP34216,21223115,09:13:00 AM,NaN,8
39,2022/08/11 12:56:54 PM,danoperson@hotmail.com,21302978,Danny Person,11:51:00 AM,Grass,Sun,TP34216,21223115,11:56:00 AM,NaN,8
92,2022/08/11 4:06:05 PM,tiffanymcguyer@gmail.com,21302949,Tiffany & Amy,03:05:00 PM,Grass,Sun,TP34216,21223115,03:10:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
16,2022/08/11 10:18:46 AM,lowell@tacomatreefoundation.org,21302973,Lowell,09:13:00 AM,Grass,Sun,TP34225,21223139,09:18:00 AM,NaN,8
43,2022/08/11 1:03:33 PM,danoperson@hotmail.com,21302978,Danny Person,11:58:00 AM,Grass,Sun,TP34225,21223139,12:03:00 PM,NaN,8
100,2022/08/11 4:13:04 PM,tiffanymcguyer@gmail.com,21302949,Tiffany & Amy,03:12:00 PM,Grass,Sun,TP34225,21223139,03:17:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
31,2022/08/11 12:48:48 PM,mariana.gonzalez@tnc.org,21302949,Mariana,11:43:00 AM,Grass,Sun,TP3890,21223133,11:48:00 AM,NaN,8
63,2022/08/11 1:34:20 PM,eugenejulius@gmail.com,21302948,Penny,12:30:00 PM,Grass,Sun,TP3890,21223133,12:35:00 PM,NaN,8
86,2022/08/11 3:59:02 PM,courtney.baxter@tnc.org,21302973,Courtney Baxter,02:53:00 PM,Grass,Sun,TP3890,21223133,02:58:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
41,2022/08/11 12:57:46 PM,courtney.baxter@tnc.org,21302958,Courtney Baxter,11:52:00 AM,Sidewalk (Paved Surface),Sun,TP3972,21223126,11:57:00 AM,NaN,8
82,2022/08/11 3:55:52 PM,stephanie.passantino@gmail.com,21302945,Steph Schmid,02:51:00 PM,Sidewalk (Paved Surface),Sun,TP3972,21223126,02:56:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
17,2022/08/11 10:24:04 AM,emily.heber@tnc.org,21302958,Emily Heber,09:18:00 AM,Grass,Shade,TP5817,21223108,09:23:00 AM,NaN,8
62,2022/08/11 1:30:38 PM,james.hong@tnc.org,21302973,James and olivia,12:25:00 PM,Rocks and pebbles,Sun,TP5817,21223108,12:30:00 PM,NaN,8
69,2022/08/11 3:35:12 PM,eugenejulius@gmail.com,21302954,Penny,02:32:00 PM,Grass,Sun,TP5817,21223108,2:37:00,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
0,2022/08/11 9:46:37 AM,emily.heber@tnc.org,21302958,Emily Heber,08:40:00 AM,Grass,Shade,TP6262,21223116/BT21302967,08:46:00 AM,NaN,8
29,2022/08/11 12:40:49 PM,james.hong@tnc.org,21302973,James and Olivia,11:35:00 AM,Grass,Shade,TP6262,21223116/BT21302967,11:40:00 AM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
107,2022/08/11 4:22:21 PM,Cooka88@gmail.com,21302954,Allison Cook,03:20:00 PM,Grass,Sun,TP6325,21302963,03:25:00 PM,Some shrubs around it,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
7,2022/08/11 10:09:18 AM,rhebert@cityoftacoma.org,21302954,Ryan and Zoee,09:04:00 AM,Sidewalk (Paved Surface),Sun,TP6335,BT21302953,09:09:00 AM,"Sweetgum trees in planting strip, busy road ne...",8
40,2022/08/11 12:57:07 PM,joshua.rubenstein@tnc.org,MX2201 21302954,Joshua Rubenstein,11:55:00 AM,Sidewalk (Paved Surface),Shade,TP6335,BT21302953,12:00:00 PM,NaN,8
101,2022/08/11 4:14:11 PM,Cooka88@gmail.com,21302954,Allison Cook,03:12:00 PM,Sidewalk (Paved Surface),Shade,TP6335,BT21302953,03:17:00 PM,Building shade,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
5,2022/08/11 10:03:09 AM,rhebert@cityoftacoma.org,21302954,Zoee and ryan,08:58:00 AM,Sidewalk (Paved Surface),Sun,TP6336,21162467/BT21302947,09:03:00 AM,Trees across the 5 lane street. Right behind t...,8
35,2022/08/11 12:50:44 PM,joshua.rubenstein@tnc.org,21302954,"Joshua Rubenstein, Austin Gobel",11:48:00 AM,Sidewalk (Paved Surface),Sun,TP6336,21162467/BT21302947,11:53:00 AM,NaN,8
95,2022/08/11 4:09:09 PM,Cooka88@gmail.com,21302954,Allison cook,03:06:00 PM,Sidewalk (Paved Surface),Sun,TP6336,21162467/BT21302947,03:11:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
1,2022/08/11 9:56:14 AM,rhebert@cityoftacoma.org,21302954,Ryan and Zoee,08:51:00 AM,Grass,Sun,TP6340,BT21302950,08:56:00 AM,"Main arterial, trees on a slope across the st...",8
54,2022/08/11 1:13:13 PM,joshua.rubenstein@tnc.org,Mx2201 21302954,"Joshua Rubenstein, Austin Gobel",12:11:00 PM,Grass,Sun,TP6340,BT21302950,12:16:00 PM,NaN,8
90,2022/08/11 4:02:47 PM,acook2@cityoftacoma.org,21302954,Allison Cook,03:00:00 PM,Grass,Sun,TP6340,BT21302950,03:05:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
15,2022/08/11 10:18:39 AM,michael.yadrick@gmail.com,MX2201 21302978,Michael Yadrick,09:13:00 AM,Sidewalk (Paved Surface),Sun,TP9179,21223119,09:18:00 AM,NaN,8
50,2022/08/11 1:09:28 PM,emily.heber@tnc.org,21302965,Emily heber,12:04:00 PM,Sidewalk (Paved Surface),Shade,TP9179,21223119,12:09:00 PM,NaN,8
88,2022/08/11 4:01:04 PM,james.hong@tnc.org,21302958,James and hannah,02:55:00 PM,Sidewalk (Paved Surface),Sun,TP9179,21223119,03:01:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
19,2022/08/11 10:25:32 AM,michael.yadrick@gmail.com,MX2201 21302978,Michael Yadrick,09:19:00 AM,Sidewalk (Paved Surface),Sun,TP9182,21223111,09:25:00 AM,NaN,8
58,2022/08/11 1:18:14 PM,emily.heber@tnc.org,21302965,Emily Heber,12:12:00 PM,Sidewalk (Paved Surface),Shade,TP9182,21223111,12:18:00 PM,"Temperature logger started in shade, but the s...",8
94,2022/08/11 4:08:29 PM,james.hong@tnc.org,21302958,James and hannah,03:03:00 PM,Sidewalk (Paved Surface),Sun,TP9182,21223111,03:08:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
84,2022/08/11 3:56:54 PM,luiszepeda.chavez@gmail.com,21302965,Luis & Josh,02:55:00 PM,Grass,Sun,TP9241,21223113,03:00:00 PM,NaN,8

,Timestamp,Username,Your Temperature Logger #,Your Name,Start time (hh:mm AM/PM),Your Temperature Logger Location,Your temperature logger is located in:,Utility Pole #,Utility Pole Temperature Logger #,End time (hh:mm AM/PM),Any other relevant notes?,Month
2,2022/08/11 9:56:21 AM,emily.heber@tnc.org,21302958,Emily,08:50:00 AM,Grass,Shade,TPU927,21223106,08:56:00 AM,Edge of grass and sidewalk,8
33,2022/08/11 12:49:31 PM,james.hong@tnc.org,21302973,James and Olivia,11:44:00 AM,Grass,Sun,TPU927,21223106,11:49:00 AM,NaN,8
83,2022/08/11 3:56:51 PM,eugenejulius@gmail.com,21302954,Penny,02:52:00 PM,Sidewalk (Paved Surface),Shade,TPU927,21223106,02:57:00 PM,"The pole did not have a number, but had a smal...",8